.cardWoman-card {
  margin: 60px 5px;
  box-sizing: border-box;
  box-shadow: 0 0 3px rgb(122, 121, 121);
  height: 480px;
  overflow: hidden;
  width: 360px;
  position: relative;
  background-size: cover;
}

.cardWoman-card-content {
  background-color: white;
  font-size: 10px;
  font-family: "Asap", sans-serif;
  padding: 30px;
  box-shadow: 0 0 3px rgb(122, 121, 121);
  transition: all 0.25s;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  top: 190px;
  margin: 30px;
  height: 480px;
}



.cardWoman-card-content:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
}

.all {
  display: flex;
  justify-content: space-around;
}

body {
  width: 250px;
}